/*INCLUDED FONTS*/
/*title and paragraph font*/
@font-face {
	font-family: "Neris Thin";
	src: url("fonts/neris/Neris-Thin.ttf") format("truetype"),
		 url("fonts/neris/Neris-Thin.otf") format("opentype"),
		 url("fonts/neris/Neris-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "Neris ThinItalic";
	src: url("fonts/neris/Neris-ThinItalic.ttf") format("truetype"),
		 url("fonts/neris/Neris-ThinItalic.otf") format("opentype"),
		 url("fonts/neris/Neris-ThinItalic.woff") format("woff");
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: "Neris Light";
	src: url("fonts/neris/Neris-Light.ttf") format("truetype"),
		 url("fonts/neris/Neris-Light.otf") format("opentype"),
		 url("fonts/neris/Neris-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Neris LightItalic";
	src: url("fonts/neris/Neris-LightItalic.ttf") format("truetype"),
		 url("fonts/neris/Neris-LightItalic.otf") format("opentype"),
		 url("fonts/neris/Neris-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Neris SemiBold";
	src: url("fonts/neris/Neris-SemiBold.ttf") format("truetype"),
		 url("fonts/neris/Neris-SemiBold.otf") format("opentype"),
		 url("fonts/neris/Neris-SemiBold.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Neris SemiBoldItalic";
	src: url("fonts/neris/Neris-SemiBoldItalic.ttf") format("truetype"),
		 url("fonts/neris/Neris-SemiBoldItalic.otf") format("opentype"),
		 url("fonts/neris/Neris-SemiBoldItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "Neris BoldItalic";
	src: url("fonts/neris/Neris-BoldItalic.ttf") format("truetype"),
		 url("fonts/neris/Neris-BoldItalic.otf") format("opentype"),
		 url("fonts/neris/Neris-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "Neris Black";
	src: url("fonts/neris/Neris-Black.ttf") format("truetype"),
		 url("fonts/neris/Neris-Black.otf") format("opentype"),
		 url("fonts/neris/Neris-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Neris BlackItalic";
	src: url("fonts/neris/Neris-BlackItalic.ttf") format("truetype"),
		 url("fonts/neris/Neris-BlackItalic.otf") format("opentype"),
		 url("fonts/neris/Neris-BlackItalic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
}
/*menu font*/
@font-face {
	font-family: "Kiona Regular";
	src: url("fonts/kiona/Kiona-Regular.ttf") format("truetype"),
		 url("fonts/kiona/Kiona-Regular.otf") format("opentype"),
		 url("fonts/kiona/Kiona-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Kiona Itallic";
	src: url("fonts/kiona/Kiona-Itallic.ttf") format("truetype"),
		 url("fonts/kiona/Kiona-Itallic.otf") format("opentype"),
		 url("fonts/kiona/Kiona-Itallic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
/*logo and slogan font*/
@font-face {
	font-family: "DealerStrikes";
	src: url("fonts/dealer_strikes/DealerStrikes.ttf") format("truetype"),
		 url("fonts/dealer_strikes/DealerStrikes.otf") format("opentype"),
		 url("fonts/dealer_strikes/DealerStrikes.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "DealerStrikesStraight";
	src: url("fonts/dealer_strikes/DealerStrikesStraight.ttf") format("truetype"),
		 url("fonts/dealer_strikes/DealerStrikesStraight.otf") format("opentype"),
		 url("fonts/dealer_strikes/DealerStrikesStraight.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
/*MAIN STYLES*/
*, *::before, *::after{
	font-family: 'Neris Light', sans-serif;
}
body{
 	margin: 0;
 	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(255,255,255,.93) 0%, rgba(255,255,255,.93) 100%),url("pattern/pattern.svg");
	background-repeat: repeat;
 	background-size: 150px 150px;
}
h1{
	font-size: 36px;
	font-weight: 700;
	color: #0f4c75;
	margin-bottom: 5px;
}
h2{
	font-size: 28px;
	font-weight: 700;
	color: #0f4c75;
}
p{
	font-family: 'Neris Light', sans-serif;
	line-height: 24px;
	text-align: justify;
	color: #1b262c;
	margin: 15px 0px;
}
p>i{
	font-weight: 400;
}
span, pre{
	font-family: monospace;
	font-size: 14px;
}
pre{
	line-height: 20px;
}
/*CLASSES*/
.hellopage{
	width: 500px;
	position: absolute;
	text-align: center;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.line{
	border-top: 1px solid #0f4c75;
	margin: 70px auto 70px auto;
}
.titleh1{
	font-family: 'DealerStrikesStraight', serif;
	font-size: 80px;
	font-weight: 400;
	line-height: 80px;
	text-transform: uppercase;
	color: #0F4C75;
	letter-spacing: 10px;
	margin: 50% auto 0;
}
.track{
	position: relative;
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: rgba(255,255,255,.6);
	border: 2px solid;
	border-radius:50%;
	border-color: #bbe1fa;
	margin: 0 3%;
}
.movedcircle_hidden{
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #bbe1fa;
	border-radius: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: width .4s, height .4s;
	transition-delay: .1s;
	transition-timing-function: ease-in;
}
.track>span{
	font-family: 'Neris SemiBold', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 1px;
	color: #0f4c75;
	pointer-events: none;
}
.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: #FFF;
	border-bottom: 1px solid;
	border-color: #0f4c75;
	z-index: 5;
}
.logo{
	position: absolute;
	top: 0;
	left: 0;
	width: 15%;
	height: 80px;
}
.logo span{
	font-family: 'DealerStrikesStraight', serif;
	position: absolute;
	font-size: 20px;
	top: 50%;
	transform: translate(0, -50%);
	font-variant: small-caps;
	font-weight: 500;
	letter-spacing: 1px;
	color: #3282b8;
	padding: 0 20px;
}
.logo div{
	position: absolute;
	top: 100%;
	transform: translate(0,-100%);
	width: 60px;
	height: 5px;
	background: #bbe1fa;
}
.menu nav{
	overflow: hidden;
	position: absolute;
	text-align: center;
	width: 60%;
	height: 20px;
	margin: 0 auto;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
}
.btn-back>div{
	position: relative;
	left: 50%;
	top: 50%;
}
.btn-back span{
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #0f4c75;
}
.btn-back img{
	width: 24px;
	vertical-align: -5px;
	margin: 0 0 0 8px;
}
.content{
	position: relative;
	background-color: #fff;
	width: 60%;
	padding: 50px;
	margin: 0 auto;
	top: 50px;
}

.centeredtext{
	text-align: center;
}
.image{
	text-align: center;
	width: 70%;
	margin: 25px auto 15px;
}
.code{
	overflow: scroll;
	overflow-y: hidden;
	margin: 35px 0;
}
/*ANIMATED STYLES*/
.movedcircle_visible{
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #0f4c75;
	border: 2px solid #fff;
	border-radius: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 0px 100px;
	animation: runningcircle 5s linear .5s infinite;
}
@keyframes runningcircle{
	0%{
		transform: rotate(0deg) translate(-50%, -50%);
	}
	100%{
		transform: rotate(360deg) translate(-50%, -50%);
	}
}
.hovercircle{
	position: absolute;
	overflow: hidden;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	animation: rotatingcircle 5s linear .5s infinite;
}
@keyframes rotatingcircle{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
.reflect{
	top: 100%;
	transform: translate(-50%, -50%);
	transform-origin: 0px -100px;
	animation: runningcircle2 5s linear .5s infinite;
}
@keyframes runningcircle2{
	0%{
		transform: rotate(0deg) translate(-50%, -50%);
	}
	100%{
		transform: rotate(360deg) translate(-50%, -50%);
	}
}
.reflect2{
	transform: scale(1, -1);
	animation: rotatingcircle2 5s linear .5s infinite;
}
@keyframes rotatingcircle2{
	0%{
		transform: rotate(-180deg);
	}
	100%{
		transform: rotate(180deg);
	}
}
/*CLASSES WITH PSEUDOCLASSES*/
#btn:hover .movedcircle_hidden{
	width: 410px;
	height: 410px;
}
#btn:active~span{
	color:#fff;
}
.menu nav>a{
	display: inline-block;
	font-family: 'Kiona Regular', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0f4c75;
	text-decoration: none;
	padding: 5px 15px;
}
nav>a:hover{
	color: #bbe1fa;
}
.btn-back{
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	overflow: hidden;
	width: 116px;
	height: 46px;
	right: 20px;
	top: 50%;
	transform: translate(0%, -50%);
	text-decoration: none;
	background: #bbe1fa;
	transition: .15s;
}
.btn-back:hover{
	background: none;
	border: 2px solid #bbe1fa;
}
.btn-back:active{
	transform: translate(0%, -50%) scale(1.15, 1.15);
}
.to-top{
	box-sizing: border-box;
	text-decoration: none;
	font-size: 20px;
	color: #0f4c75;
	display: block;
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 20px;
	right: 20px;
	background: #bbe1fa;
	transition: .15s;
}
.to-top>div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(-90deg);
	margin: 0 0 0 -2px;
}
.to-top:hover{
	background: none;
	border: 2px solid #bbe1fa;
}
.to-top:active{
	transform: scale(1.15, 1.15);
}
/*SCROLLBAR*/
.code::-webkit-scrollbar{
	height: 9px;
}
::-webkit-scrollbar{
	width: 9px;
}
::-webkit-scrollbar-track{
	background: transparent;
}
::-webkit-scrollbar-thumb{
	border: 1px solid #0f4c75;
	border-radius: 10px;
	height: 4px;
	background: rgba(15,76,117,.07); 
}
::-webkit-scrollbar-thumb:hover{
	background: #bbe1fa;
}
::-webkit-scrollbar-thumb:active{
	background: #0f4c75;
}