*, *::before, *::after {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
header {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	overflow: hidden;
	height: 500px;
}
footer {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
footer > div {
	-webkit-flex: 0 1 50%;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
	overflow: hidden;
}
h1 {
	font-size: 4em;
	line-height: 1.1;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
}
h2 {
	font-size: calc(4em - 1px);
	line-height: 1.1;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
}
h3 {
	font-size: 2em;
	line-height: 1.1;
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
}
h4 {
	font-size: 2em;
	line-height: 1.1;
	font-weight: lighter;
	text-transform: uppercase;
}
h5 {
	font-size: calc(1em + 2px);
	line-height: 1.1;
	font-weight: normal;
	text-transform: uppercase;
	color: #333;
}
/*MAIN CLASSES + HEADER*/
.bigger_side {
	position: relative;
	overflow: hidden;
	width: calc(100vw - 31vw);
}
.header_bg {
	background: #e9eae2
					url('images/design_elements/header_chairs.png') no-repeat center -20px;
}
.logo_plus_socials {
	display: inline-block;
	margin: 50px 0 0 11vw;
}
.logo {
	text-transform: uppercase;
	margin-bottom: 60px;
}
.logo img {
	display: block;
	margin-bottom: 5px;
}
.logo figcaption {
	display: inline-block;
	font-size: 1.5em;
	line-height: 1;
	color: #393d3c;
	margin: 0 0 60px 0;
}
.socials {
	text-align: center;
}
.social_icon {
	object-fit: cover;
	width: 24px;
	margin: 0 5px;
}
.smaller_side {
	position: relative;
	overflow: hidden;
	width: 31vw;
}
.menu {
	position: absolute;
	top: 50px;
	left: 50%;
	width: 125px;
	height: 120px;
	border: 3px solid #e9eae2;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.burger {
	position: absolute;
	top: 50%;
	right: 40px;
	width: 40px;
	height: 17px;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.burger .line {
	position: absolute;
	width: 40px;
	height: 3px;
}
.burger .line:nth-child(1) {
	top: 0;
}
.burger .line:nth-child(2) {
	top: 7px;
}
.burger .line:nth-child(3) {
	top: 14px;
}
.address_phone {
	position: absolute;
	top: 262px;
	left: 25%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
	padding-left: 20%;
}
.address_phone p {
	font-size: calc(1em + 1px);
	line-height: 1.1;
	text-transform: uppercase;
	color: #fff;
}
.phone_info_text {
	margin: 44px 0 0 5vw;
}
.flex_G {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.flex_V {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
/*SECTION PROJECT*/
.projects_menu {
	position: relative;
	overflow: hidden;
	width: 31vw;
	height: 500px;
}
.projects_header {
	position: absolute;
	top: 303px;
	right: 3.4vw;
}
.projects_timeline {
	position: relative;
	overflow: hidden;
	width: 31vw;
	height: 300px;
}
.projects_timeline_header {
	position: absolute;
	top: 60px;
	left: 6.75vw;
}
.menu_list {
	position: absolute;
	top: 173px;
	left: 11vw;
	list-style-type: none;
}
.menu_list li {
	padding-left: 30px;
}
.menu_list li:nth-child(1) {
	padding-left: 0;
}
.menu_list li:nth-child(1)::before {
	content: '';
	display: inline-block;
	background: url('icons/arrow_white.svg') no-repeat;
	vertical-align: -2px;
	width: 20px;
	height: 15px;
	margin-right: 10px;
}
.projects_timeline .menu_list {
	position: absolute;
	top: 80px;
	left: 6.75vw;
	list-style-type: none;
}
.menu_list li a{
	font-size: calc(1em + 1px);
	line-height: 1.1;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFF;
}
.slot_title {
	position: absolute;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	z-index: 1;
}
.slot_title h4 {
	margin-bottom: 15px;
}
.slot_title p {
	font-size: 1em;
	line-height: 1.1;
	text-transform: uppercase;
}
.slot_title p.infonote {
	font-size: 1em;
	line-height: 1.25;
	text-transform: none;
	margin-top: 5px;
	width: 11vw;
	min-width: 140px;
}
.slot_info {
	color: #333;
	margin-bottom: 60px;
}
.slot_btns {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: center;
	        align-items: center;
}
.btn_to_full_slot {
	position: relative;
	display: block;
	font-size: 1.5em;
	line-height: 1;
	font-weight: lighter;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 40px;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}
.btn_to_full_slot:before {
	content: '';
	display: inline-block;
	background: url('icons/arrow_orange.svg') no-repeat;
	width: 20px;
	height: 15px;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
	margin-right: 10px;
}
.btn_like {
	text-align: center;
	display: block;
	font-size: calc(1em - 1px);
	line-height: 1.1;
	color: #ff0000;
	text-decoration: none;
}
.btn_like > img {
	width: 24px;
	height: 24px;
	margin-bottom: 3px;
	
}
.btn_like > span {
	display: block;
}
._1_slot {
	position: relative;
	overflow: hidden;
	width: calc(100% - 31vw);
	height: 500px;
}
._1_slot > img {
	position: absolute;
	top: -10px;
	left: 14.3vw;
}
._1_slot > .slot_title {
	top: 90px;
	left: 5vw;
}
._2_slot {
	position: relative;
	overflow: hidden;
	width: 20vw;
	height: 465px;
}
._2_slot > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 20vw;
	max-width: 450px;
	height: 465px;
	object-fit: cover;
	object-position: 15% 15%;
}
._2_slot > .slot_title {
	top: 60px;
	left: 2.2vw;
}
._2_slot .slot_info {
	color: #FFF;
	margin-bottom: 30px;
}
._2_slot .btn_to_full_slot {
	color: #FFF;
	margin-bottom: 20px;
}
._2_slot .btn_like {
	color: #fe7c7c;
}
._3_slot {
	position: relative;
	overflow: hidden;
	width: calc(100% - 20vw);
	height: 465px;
}
._3_slot > img {
	position: absolute;
	top: 40px;
	left: 40%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}
._3_slot > .slot_title {
	top: 75px;
	left: 22vw;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-align-items: center;
	        align-items: center;
}
._3_slot .slot_info {
	margin-bottom: 0;
	margin-right: 30px;
}
._3_slot .slot_btns {
	margin-right: 15px;
}
._3_slot .btn_to_full_slot {
	margin-bottom: 25px;
}
._4_slot {
	position: relative;
	overflow: hidden;
	height: 250px;
}
._4_slot > img {
	position: absolute;
	top: 0;
	left: 6vw;
	margin-left: 6vw;
}
._4_slot > .slot_title {
	top: 25px;
	left: 2.5vw;
}
._4_slot .slot_info {
	min-width: 165px;
	margin-bottom: 15px;
}
._4_slot .btn_to_full_slot {
	margin-bottom: 10px;
}
._5_slot {
	position: relative;
	overflow: hidden;
	height: 465px;
}
._5_slot > img {
	position: absolute;
	top: -73px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}
._5_slot > .slot_title {
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
	top: 340px;
	left: 0;
	width: calc(100% - 60px);
	margin: 0 30px;
}
._5_slot .slot_info {
	margin-bottom: 0;
	margin-right: 30px;
}
._5_slot .slot_btns {
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	margin-right: 15px;
}
._5_slot .btn_to_full_slot {
	margin-bottom: 0;
	margin-right: 25px;
}
._6_slot {
	position: relative;
	overflow: hidden;
	height: 250px;
}
._6_slot > img {
	position: absolute;
	top: 50%;
	left: 27.5%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
._6_slot > .slot_title {
	top: 40px;
	left: 17.5vw;
}
._6_slot .slot_info {
	margin-bottom: 25px;
}
._6_slot .btn_to_full_slot {
	margin-bottom: 20px;
}
._7_slot {
	position: relative;
	overflow: hidden;
	width: 49vw;
	height: 300px;
}
._7_slot > img {
	position: absolute;
	top: 25px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}
._7_slot > .slot_title {
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
	top: 190px;
	left: 0;
	width: 100%;
}
._7_slot .slot_info {
	margin-bottom: 0;
	margin-right: 75px;
}
._7_slot .slot_btns {
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	margin-right: 15px;
}
._7_slot .btn_to_full_slot {
	margin-bottom: 0;
	margin-right: 45px;
}
._8_slot {
	position: relative;
	overflow: hidden;
	width: 20vw;
	height: 300px;
}
._8_slot > img {
	position: absolute;
	top: 0;
	right: calc(55% - 15px);
}
._8_slot > .slot_title {
	top: 50px;
	left: 70%;
	min-width: 110px;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}
._8_slot .slot_info {
	margin-bottom: 25px;
}
._8_slot .slot_btns {
	margin-left: -30px;
}
._8_slot .btn_to_full_slot {
	margin-bottom: 20px;
}
/*SECTION STUDIO*/
.studio_header {
	position: absolute;
	top: 65%;
	left: 60%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.awards_wrapper {
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	padding: 5.3vw 10vw 2.5vw 5.5vw;
}
.awards {
	overflow: hidden;
	-webkit-flex: 1 1;
	    -ms-flex: 1 1;
	        flex: 1 1;
	width: 50%;
	margin: 1vw;
}
.awards p, .awards i {
	font-size: 1.5rem;
	line-height: 1.1;
}
.awards p {
	text-align: justify;
	font-weight: lighter;
	color: #333;
	margin-bottom: 20px;
}
.awards p>i {
	font-weight: normal;
}
.awards img {
	width: 100%;
	height: 55%;
	object-fit: cover;
	margin-bottom: 2vw;
}
.awards h5 {
	font-weight: bold;
}
.awards hr {
	margin: 5px 0 20px 0;
	border: none;
	background: #000;
	color: #000;
	height: 1px;
	opacity: .2;
}
.awards ul {
	list-style-type: none;
	-webkit-columns: 2;
	   -moz-columns: 2;
	        columns: 2;
	-webkit-column-gap: 3vw;
	   -moz-column-gap: 3vw;
	        column-gap: 3vw;
	line-height: 1.2;
	text-transform: uppercase;
	color: #333;
}
.staff_wrapper {
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	padding: 3vw 10vw 5.5vw 10vw;
}
.staff {
	-webkit-flex: 0 1 calc(25% - 2vw);
	    -ms-flex: 0 1 calc(25% - 2vw);
	        flex: 0 1 calc(25% - 2vw);
	margin: 1vw;
}
.staff h5 {
	margin-bottom: 20px;
}
.staff p {
	text-align: justify;
	font-size: calc(1em + 2px);
	line-height: 1.3;
	font-weight: lighter;
	color: #333;
	margin-bottom: 20px;
}
.staff img {
	width: 100%;
	object-fit: cover;
	object-position: 15% 0;
	margin-bottom: 20px;
}
.staff_wrapper .staff:nth-child(4) img {
	object-position: 85% 0;
}
.staff:not(:first-child) p {
	font-size: 1rem;
	line-height: 1.25;
	text-transform: uppercase;
	color: #333;
}
.staff:not(:first-child) p b {
	font-size: calc(1rem + 1px);
	line-height: 1.25;
	text-transform: uppercase;
}
.staff .flex_G {
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.staff a {
	font-size: calc(1rem + 2px);
	text-transform: uppercase;
	text-decoration: none;
	color: #fd5000;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}
.staff a:after {
	content: '';
	display: inline-block;
	background: url('icons/arrow_red.svg') no-repeat;
	vertical-align: -2px;
	width: 20px;
	height: 15px;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
	margin-left: 8px;
}
.staff .socials img {
	width: 16px;
	height: 16px;
	margin-left: 6px;
}
/*SECTION NEWS*/
#news h2 {
	position: absolute;
	top: 65%;
	left: 60%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
} 
.news_wrapper {
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	padding: 4.3vw 10vw 3.3vw 5.6vw;
}
.article {
	position: relative;
	-webkit-flex: 0 1 calc(50% - 2vw);
	    -ms-flex: 0 1 calc(50% - 2vw);
	        flex: 0 1 calc(50% - 2vw);
	margin: 1vw;
}
.article div:first-child {
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	min-height: 60px;
	margin-bottom: 20px;
}
.article time {
	font-size: 1em;
	line-height: 1.1;
	color: #6A6969;
}
.article img {
	width: 100%;
	height: 13.3vw;
	object-fit: cover;
	margin-bottom: 20px;
}
.article p {
	text-align: justify;
	line-height: 1.2;
	color: #6a6969;
	margin-bottom: 30px;
}
.article a {
	position: absolute;
	bottom: 0;
	right: 0;
	line-height: 1.2;
	text-transform: uppercase;
	text-decoration: none;
	color: #fd5000;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}
/*FOOTER*/
.map {
	position: relative;
	height: inherit;
}
.map_pic {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	object-fit: none;
	object-position: center;
}
.marker_icon {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 45px;
}
.copyright {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
   -webkit-flex-wrap: wrap;
       -ms-flex-wrap: wrap;
           flex-wrap: wrap;
	padding: 8vw 10vw 2.5vw 6.5vw;
}
.footer_address {
	-webkit-flex: 0 1 auto;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;
	margin: 1vw;
}
.footer_address .address_phone_info_text {
	display: block;
	color: #333;
	margin-bottom: 20px;
}
.copyright .logo_plus_socials {
	-webkit-flex: 0 1 auto;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;
	margin: 1vw;
}
.copyright p {
	-webkit-flex: 0 1 100%;
	    -ms-flex: 0 1 100%;
	        flex: 0 1 100%;
   color: #191919;
   margin: 1vw;
}
/*COLORS+DIAGONAL_LINE*/
.color_grey_1 {
	background: #e9eae2;
}
.color_grey_2 {
	background: #7d848f;
}
.color_grey_3 {
	background: #eaeaea;
}
.color_grey_4 {
	background: #dfe0d9;
}
.color_grey_5 {
	background: #f7f7f3;
}
.color_grey_6 {
	background: #fcfcfc;
}
.color_grey_7 {
	background: #cecece;
}
.color_grey_8 {
	background: #e5e9df;
}
.color_light_green {
	background: #d4edbf;
}
.color_teal {
	background: #7acec3;
}
.color_orange {
	background: #ebb240;
}
.color_red {
	background: #ff9b6d;
}
.color_white {
	background: #fff;
}
.diagonal:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(-47.5deg, transparent calc(50% - 1px), #fff, transparent calc(50% + 1px));
	opacity: .5;
}
/*HOVERS*/
.btn_to_full_slot:hover, .article a:hover, .staff a:hover {
	color: #EBB240;
}
.menu_list li:hover a {
	color: #333;
}
/*ACTIVES*/
.btn_to_full_slot:active::before {
	margin-right: 3px;
	margin-left: 7px;
}
.article a:active {
	font-weight: bolder;
	color: #EBB240;
}
.staff a:active::after {
	margin-left: 2px;
}
/*RESPONSIVE*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.header_bg {
		background: #e9eae2
						url('images/design_elements/header_chairs.png') no-repeat calc(50% + 50px) -20px;
	}
	#projects .bigger_side, #projects .smaller_side {
		width: 100vw;
	}
	#projects > .flex_G {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	._1_slot > img {
		left: auto;
		right: 5vw;
	}
	._1_slot > .slot_title {
		left: 10vw;
	}
	._2_slot, ._3_slot {
		-webkit-flex: 0 1 50%;
		    -ms-flex: 0 1 50%;
		        flex: 0 1 50%;
	}
	._2_slot > img {
		left: 50%;
		object-position: 15% 55%;
		min-width: 50vw;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	._2_slot > .slot_title {
		left: 7.2vw;
	}
	#projects .smaller_side > .flex_V {
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	._4_slot, ._5_slot, ._6_slot {
		height: 465px;
		-webkit-flex: 0 1 50%;
		    -ms-flex: 0 1 50%;
		        flex: 0 1 50%;
	}
	._4_slot > img {
		top: auto;
		bottom: 0;
		left: 40%;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	._4_slot > .slot_title {
		left: 3vw;
	}
	._6_slot > img {
		top: 70%;
		left: 32.5%;
	}
	._6_slot > .slot_title {
		left: 15vw;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.header_bg {
		background: #e9eae2
						url('images/design_elements/header_chairs.png') no-repeat calc(50% + 90px) -20px;
	}
	#projects .bigger_side, #projects .smaller_side {
		width: 100vw;
	}
	#projects > .flex_G {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	._1_slot > img {
		left: auto;
		right: -30px;
	}
	._1_slot > .slot_title {
		left: 7vw;
	}
	._2_slot, ._3_slot {
		-webkit-flex: 0 1 50%;
		    -ms-flex: 0 1 50%;
		        flex: 0 1 50%;
	}
	._2_slot > img {
		left: 50%;
		object-position: 15% 55%;
		min-width: 50vw;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	._2_slot > .slot_title {
		left: 7.2vw;
	}
	._3_slot > img {
		top: 70px;
	}
	._3_slot > .slot_title {
		top: 50px;
	}
	#projects .smaller_side > .flex_V {
		height: 500px;
		-webkit-flex-flow: column wrap;
		    -ms-flex-flow: column wrap;
		        flex-flow: column wrap;
	}
	._4_slot, ._6_slot {
		-webkit-flex: 0 1 50%;
		    -ms-flex: 0 1 50%;
		        flex: 0 1 50%;
	}
	._5_slot {
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	._4_slot > img {
		position: absolute;
		top: 0;
		left: 9vw;
		margin-left: 9vw;
	}
	._5_slot {
		-webkit-order: -1;
		    -ms-order: -1;
		        order: -1;
	}
	._6_slot > img {
		left: 17.5%;
	}
	._6_slot > .slot_title {
		left: 25vw;
	}
	#projects > .flex_G {
		-webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
	}
	._7_slot {
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	._8_slot, .projects_timeline {
		height: 200px;
		-webkit-flex: 0 1 50%;
		    -ms-flex: 0 1 50%;
		        flex: 0 1 50%;
	}
	._8_slot > img {
		top: -25px;
	}
	._8_slot > .slot_title {
		top: 15px;
	}
	._8_slot > .slot_title .slot_info, ._8_slot > .slot_title .slot_btns .btn_to_full_slot {
		margin-bottom: 10px;
	}
	#studio > .flex_G:first-child {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	#studio .smaller_side, #news .smaller_side {
		width: 100vw;
		min-height: 120px;
	}
	#studio .bigger_side, #news .bigger_side {
		width: 100vw;
		padding: 9vw 10vw 5.5vw 10vw;
	}
	.staff_wrapper {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	   padding-top: 0;
	}
	.staff {
		-webkit-flex-grow: 1;
		        flex-grow: 1;
	}
	.staff:first-child {
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
		-webkit-columns: 3;
		   -moz-columns: 3;
		        columns: 3;
	   -webkit-column-gap: 20px;
	      -moz-column-gap: 20px;
	           column-gap: 20px;
	}
	.staff:first-child h5 {
		column-span: all;
	}
	.staff:first-child p {
		margin: 0;
	}
	#news {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
@media screen and (min-width: 576px) and (max-width: 767px) {
	header {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	   height: auto;
	}
	header .bigger_side {
		width: 100vw;
		height: 400px;
	}
	.header_bg {
		background: #e9eae2
						url('images/design_elements/header_chairs.png') no-repeat calc(50% + 50px) -20px;
		-webkit-background-size: auto 400px;
		     -o-background-size: auto 400px;
		        background-size: auto 400px;
	}
	.logo_plus_socials {
		margin: 35px 0 0 11vw;
	}
	.logo figcaption {
		margin: 0 0 35px 0;
	}
	header .smaller_side {
		width: 100vw;
		height: 150px;
	}
	.menu {
		top: 50%;
		left: auto;
		right: 30px;
		-webkit-transform: none;
		   -moz-transform: none;
		    -ms-transform: none;
		     -o-transform: none;
		        transform: none;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	.address_phone {
		position: static;
		-webkit-transform: none;
		   -moz-transform: none;
		    -ms-transform: none;
		     -o-transform: none;
		        transform: none;
		padding: 0;
	}
	.address_info_text {
		display: inline-block;
		margin: 30px 0 0 5vw;
	}
	.phone_info_text {
		display: inline-block;
		vertical-align: top;
		margin: 30px 0 0 5vw;
	}
	#projects .bigger_side, #projects .smaller_side {
		width: 100vw;
	}
	#projects > .flex_G {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	#projects .bigger_side > .flex_G {
		-webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
	}
	.projects_menu {
		height: 120px;
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	.projects_header {
		top: 65%;
		left: 40%;
		-webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
	}
	.menu_list {
		top: 50%;
		left: auto;
		right: 15vw;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	._1_slot, ._2_slot, ._3_slot {
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	._1_slot {
		height: 300px;
	}
	._1_slot > img {
		top: 50%;
		left: auto;
		right: -30px;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	._1_slot > .slot_title {
		top: 45px;
		left: 8.5vw;
	}
	._1_slot > .slot_title .slot_info {
		margin-bottom: 30px;
	}
	._1_slot > .slot_title .slot_btns .btn_to_full_slot {
		margin-bottom: 20px;
	}
	._2_slot {
		height: 400px;
	}
	._2_slot > img {
		left: 50%;
		object-position: 15% 70%;
		min-width: 100vw;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	._2_slot > .slot_title {
		left: 8.5vw;
	}
	._3_slot {
		height: 300px;
	}
	._3_slot > img {
		top: 20px;
		left: 40%;
	}
	._3_slot > .slot_title {
		top: 50px;
		left: 36vw;
	}
	#projects .smaller_side > .flex_V {
		-webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
	}
	._4_slot, ._5_slot, ._6_slot {
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	._4_slot {
		-webkit-order: 1;
		    -ms-order: 1;
		        order: 1;
	}
	._4_slot > img {
		left: 36vw;
		margin-left: 12vw;
	}
	._4_slot > .slot_title {
		left: 8.5vw;
	}
	.slot_title p.infonote {
		min-width: 200px;
	}
	._5_slot {
		-webkit-order: 3;
		    -ms-order: 3;
		        order: 3;
	}
	._6_slot {
		-webkit-order: 2;
		    -ms-order: 2;
		        order: 2;
	}
	._6_slot > img {
		left: 27.5%;
	}
	._6_slot > .slot_title {
		left: 60vw;
	}
	#projects > .flex_G {
		-webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
	}
	._7_slot, ._8_slot, .projects_timeline {
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	._8_slot {
		height: 200px;
	}
	._8_slot > img {
		top: -25px;
		right: calc(55% - 75px);
	}
	._8_slot > .slot_title {
		top: 20px;
		left: 75%;
	}
	._8_slot > .slot_title .slot_info, ._8_slot > .slot_title .slot_btns .btn_to_full_slot {
		margin-bottom: 10px;
	}
	.projects_timeline {
		height: 120px;
	}
	.projects_timeline .menu_list {
		top: 50%;
		left: auto;
		right: 13.5vw;
	}
	#studio > .flex_G:first-child {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	#studio .smaller_side, #news .smaller_side {
		width: 100vw;
		min-height: 120px;
	}
	#studio .bigger_side {
		width: 100vw;
		padding: 9vw 10vw 0vw 10vw;
	}
	#studio > .flex_G:first-child .flex_G {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.awards {
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	.staff_wrapper {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	   padding-top: 0;
	}
	.staff {
		-webkit-flex-grow: 1;
		        flex-grow: 1;
	}
	.staff:first-child {
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	#news {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	#news .bigger_side {
		width: 100vw;
		padding: 9vw 10vw 5.5vw 10vw;
	}
	#news .flex_G {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.article {
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	footer {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	footer > div {
		-webkit-flex: 0 1 auto;
		    -ms-flex: 0 1 auto;
		        flex: 0 1 auto;
	}
	.map {
		height: 50vw;
	}
}
@media screen and (max-width: 575px) {
	header {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	   height: auto;
	}
	header .bigger_side {
		width: 100vw;
		height: 400px;
	}
	.header_bg {
		background: #e9eae2
						url('images/design_elements/header_chairs.png') no-repeat calc(50% + 150px) -20px;
		-webkit-background-size: auto 400px;
		     -o-background-size: auto 400px;
		        background-size: auto 400px;
	}
	.logo_plus_socials {
		margin: 35px 0 0 11vw;
	}
	.logo figcaption {
		margin: 0 0 35px 0;
	}
	header .smaller_side {
		width: 100vw;
		height: 150px;
	}
	.menu {
		top: 50%;
		left: auto;
		right: 30px;
		-webkit-transform: none;
		   -moz-transform: none;
		    -ms-transform: none;
		     -o-transform: none;
		        transform: none;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	.address_phone {
		position: static;
		-webkit-transform: none;
		   -moz-transform: none;
		    -ms-transform: none;
		     -o-transform: none;
		        transform: none;
		padding: 0;
	}
	.address_info_text {
		display: block;
		margin: 25px 0 0 5vw;
	}
	.phone_info_text {
		display: block;
		margin: 10px 0 0 5vw;
	}
	#projects .bigger_side, #projects .smaller_side {
		width: 100vw;
	}
	#projects > .flex_G {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	#projects .bigger_side > .flex_G {
		-webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
	}
	.projects_menu {
		height: 200px;
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	.projects_header {
		top: 30%;
		left: 50%;
		right: auto;
		-webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
	}
	.menu_list {
		top: 70%;
		left: 15%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	._1_slot, ._2_slot, ._3_slot {
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	._1_slot {
		height: 300px;
	}
	._1_slot > img {
		top: 70%;
		left: auto;
		right: -185px;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	._1_slot > .slot_title {
		top: 45px;
		left: 8.5vw;
	}
	._1_slot > .slot_title .slot_info {
		margin-bottom: 30px;
	}
	._1_slot > .slot_title .slot_btns .btn_to_full_slot {
		margin-bottom: 20px;
	}
	._2_slot {
		height: 400px;
	}
	._2_slot > img {
		left: 50%;
		object-position: 15% 70%;
		min-width: 100vw;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	._2_slot > .slot_title {
		left: 8.5vw;
	}
	._3_slot {
		height: 300px;
	}
	._3_slot > img {
		top: 45px;
		left: 37.5%;
	}
	._3_slot > .slot_title {
		top: 30px;
		left: 22vw;
	}
	#projects .smaller_side > .flex_V {
		-webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
	}
	._4_slot, ._5_slot, ._6_slot {
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	._4_slot {
		-webkit-order: 1;
		    -ms-order: 1;
		        order: 1;
	}
	._4_slot > img {
		left: 30vw;
		margin-left: 12vw;
	}
	._4_slot > .slot_title {
		top: 15px;
		left: 8.5vw;
	}
	._5_slot {
		-webkit-order: 3;
		    -ms-order: 3;
		        order: 3;
	}
	._5_slot .slot_btns {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
   	margin: 0;
	}
	._5_slot .btn_to_full_slot {
		margin-bottom: 20px;
		margin-right: 0;
	}
	._6_slot {
		-webkit-order: 2;
		    -ms-order: 2;
		        order: 2;
	}
	._6_slot > img {
		left: 7.5%;
	}
	._6_slot > .slot_title {
		left: 45vw;
	}
	#projects > .flex_G {
		-webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
	}
	._7_slot > .slot_title {
		width: calc(100% - 30px);
		margin: 0 30px;
	}
	._7_slot .slot_info {
		margin-right: 30px;
	}
	._7_slot .slot_btns {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	._7_slot > .slot_title .slot_btns .btn_to_full_slot {
		margin-right: 0;
		margin-bottom: 10px;
	}
	._7_slot, ._8_slot, .projects_timeline {
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	._8_slot {
		height: 200px;
	}
	._8_slot > img {
		top: -25px;
		right: calc(55% - 25px);
	}
	._8_slot > .slot_title {
		top: 20px;
		left: 75%;
	}
	._8_slot > .slot_title .slot_info, ._8_slot > .slot_title .slot_btns .btn_to_full_slot {
		margin-bottom: 10px;
	}
	.projects_timeline {
		height: 120px;
	}
	.projects_timeline .menu_list {
		top: 50%;
		left: auto;
		right: 13.5vw;
	}
	#studio > .flex_G:first-child {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	#studio .smaller_side, #news .smaller_side {
		width: 100vw;
		min-height: 120px;
	}
	#studio .bigger_side, #news .bigger_side {
		width: 100vw;
		padding: 9vw 10vw 5.5vw 10vw;
	}
	#studio > .flex_G:first-child .flex_G {
		-webkit-flex-flow: column;
		    -ms-flex-flow: column;
		        flex-flow: column;
	}
	.awards {
		width: auto;
		-webkit-flex: 0 1 auto;
		    -ms-flex: 0 1 auto;
		        flex: 0 1 auto;
	}
	.awards ul {
		column-count: initial;
	}
	.staff_wrapper {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	   padding-top: 0;
	}
	.staff {
		-webkit-flex-grow: 1;
		        flex-grow: 1;
	}
	.staff {
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	#news {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	#news .flex_G {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.article {
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	footer {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	footer > div {
		-webkit-flex: 0 1 auto;
		    -ms-flex: 0 1 auto;
		        flex: 0 1 auto;
	}
	.map {
		height: 50vw;
	}
}